# Quarto build output
_site/
*.html
.quarto/

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/
/.quarto/
**/*.quarto_ipynb
_quarto - Copy.yml

# Other
*.zip
site.pdf
working-folder-DO-NOT-UPLOAD/
module-6-go-deeper-choose-your-path/03-going-further-with-coding/01-input/000-TEMPLATE.qmd
module-6-go-deeper-choose-your-path/03-going-further-with-coding/01-input/000-PROMPT.md
